.main-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.main-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.heder {
  color: black;
  text-align: left;
  margin-left: 40px;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the box and label */
}

.box {
  width: 400px;
  height: 350px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 5px; /* Space between box and label */
}

.box-label {
  color: #333; /* Label color */
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2b2727;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.nav {
  display: flex;
}
a {
  color: white;
}

.myfooter {
  background-color: black;
  height: 50px;
}

.mytext {
  color: white;
  font-size: 20px;
}